@using Intandoyesizwe.Models
@model LoginViewModel
@{ 
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-form-title" style="background-image: url('/images/Slider/breadcrumb.jpg');">
                        <span class="login100-form-title-1">
                            Sign In
                        </span>
                    </div>
                    <form class="login100-form validate-form">
                        <div class="wrap-input100 m-b-26">
                            <span class="label-input100">Username</span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "input100", placeholder = "Enter username" })
                            @*<input class="input100" type="text" name="username" placeholder="Enter username">*@
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                            <span class="label-input100">Password</span>
                            @Html.PasswordFor(m => m.Password, new { @class = "input100", placeholder = "Enter password" })
                            @*<input class="input100" type="password" name="pass" placeholder="Enter password">*@
                            <span class="focus-input100"></span>
                        </div>

                        <div class="flex-sb-m w-full p-b-30">
                            <div class="contact100-form-checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "input-checkbox100" })
                                @*<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">*@
                                <label class="label-checkbox100" for="ckb1">
                                    Remember me
                                </label>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }