<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Intandoyesizwe Secondary School" />
    <meta name="description" content="Intandoyesizwe High School">
    <meta name='copyright' content='Skhumbuzo Ngobese'>
    @*<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes !important">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Intandoyesizwe Secondary School</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/favicon.png">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Fancy Box CSS -->
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- Slick Nav CSS -->
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- Learedu Stylesheet -->
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Learedu Color -->
    <link rel="stylesheet" href="~/css/color/color1.css">
    <link rel="stylesheet" href="#" id="colors">
</head>
<body>
    <!-- Book Preloader -->
    <div class="book_preload">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>
    <!--/ End Book Preloader -->
    <!-- Header Inner -->
    <header class="header">  
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <!-- Contact -->
                        <ul class="content">
                            <li><i class="fa fa-phone"></i>(+27) 87 170-0849</li>
                            <li><a href="mailto:admin@intandoyesizwe.org"><i class="fa fa-envelope-o"></i>admin@intandoyesizwe.org</a></li>
                            <li><i class="fa fa-clock-o"></i>Hours: 07:30am - 14:30pm</li>
                        </ul>
                        <!-- End Contact -->
                    </div>
                    <div class="col-lg-4 col-12">
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus "></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->      
        <!-- Header Menu -->
        <div class="header-menu">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-default">
                            <div class="navbar-collapse">
                                <!-- Main Menu -->
                                <ul id="nav" class="nav menu navbar-nav">
                                    <li><a href="~/Home/Index">Home</a></li>
                                    <li>
                                        <a href="~/Home/Courses">Our Courses</a>
                                    </li>
                                    <li><a href="~/Home/Gallery">Gallery</a></li>
                                    <li>
                                        <a href="~/Home/About">About Us</a>
                                    </li>
                                    <li><a href="~/Home/Contact">Contact</a></li>
                                    <li style="float:right">
                                        <a href="#">Admission Application<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="~/AdmissionApplication/Personal">Apply</a></li>
                                            <li class="divider"></li>
                                            <li><a href="~/AdmissionApplication/CheckStatus">Check Status</a></li>
                                            <li class="divider"></li>
                                            <li><a href="~/Account/Login">Admin</a></li>
                                        </ul>
                                    </li>
                                    <a href="~/Home/Index"><img src="~/images/logo.png" alt="School Logo" style="float:right"></a>
                                </ul>
                                <!-- End Main Menu -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Menu -->
    </header>
    <!-- End Header -->
        <div>
            @RenderBody()
        </div>
    <!-- Footer -->
    <footer class="footer overlay section">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-12">
                        <!-- About -->
                        <div class="single-widget about" align="center">
                            <div class="logo" align="center"><a href="#"><img src="~/images/logo.png" alt="Logo"></a></div>
                            <h1><span>Intandoyesizwe Secondary School</span></h1>
                            <ul class="list">
                                <li><i class="fa fa-phone"></i>Phone: (+27) 87 170-0849 </li>
                                <li><i class="fa fa-envelope"></i>Email: <a href="mailto:admin@intandoyesizwe.org">admin@intandoyesizwe.org</a></li>
                                <li><i class="fa fa-map-o"></i>Address: Uitval Closer Settlement, Wasbank</li>
                            </ul>
                        </div>
                        <!--/ End About -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bottom-head">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Social -->
                                    <ul class="social">
                                        <li><a href="http://linkedin.com/in/innocent-skhumbuzo-ngobese-5697a6129"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                    <!-- End Social -->
                                    <!-- Copyright -->
                                    <div class="copyright">
                                        <p> &copy; Designed And Developed by <a href="#">Skhumbuzo Ngobese</a>. (@DateTime.Today.Year) All Rights Reserved </p>
                                    </div>
                                    <!--/ End Copyright -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Bottom -->
    </footer>
    <!--/ End Footer -->
    @RenderSection("scripts", required: false)
    <!-- Jquery JS-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate.min.js"></script>
    <!-- Popper JS-->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Colors JS-->
    <script src="~/js/colors.js"></script>
    <!-- Jquery Steller JS -->
    <script src="~/js/jquery.stellar.min.js"></script>
    <!-- Particle JS -->
    <script src="~/js/particles.min.js"></script>
    <!-- Fancy Box JS-->
    <script src="~/js/facnybox.min.js"></script>
    <!-- Magnific Popup JS-->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Masonry JS-->
    <script src="~/js/masonry.pkgd.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="~/js/circle-progress.min.js"></script>
    <!-- Owl Carousel JS-->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Waypoints JS-->
    <script src="~/js/waypoints.min.js"></script>
    <!-- Slick Nav JS-->
    <script src="~/js/slicknav.min.js"></script>
    <!-- Counter Up JS -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- Easing JS-->
    <script src="~/js/easing.min.js"></script>
    <!-- Wow Min JS-->
    <script src="~/js/wow.min.js"></script>
    <!-- Scroll Up JS-->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <!-- Main JS-->
    <script src="~/js/main.js"></script>
    <!-- Portfolio Filtering -->
    <script type="text/javascript" src="~/js/mixitup.min.js"></script>
</body>
</html>



