<!-- Start Breadcrumbs -->
<section class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
                <ul class="bread-list">
                    <li><a href="~/Home/Index">Home<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
<!-- About US -->
<section class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="single-image overlay">
                    <img src="~/images/team/Principal.jpg" alt="#">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-text">
                    <h2>Our History</h2>
                    <p><i>After Mr. Zwane who was the School Principal from 1996 retired in January 2018, Mrs. Mbense took over the reigns as the School Principal with Mr A. Mabele as her Deputy Principal.</i></p>
                    <h4><u>Education</u></h4>
                    <lu>
                        <li>B.A Ed Degree(Engl & Geo) from University of Free State(1999)</li>
                        <li>Management & Leadership Honours from University of Johannesburg(2006)</li>
                    </lu>
                    <br />
                    <h4><u>Experience</u></h4>
                    <lu>
                        <li>Sebenzakusakhanya High School(1999-2000)</li>
                        <li>Shiyane High School(2001-2002)</li>
                        <li>Intandoyesizwe Secondary School(2003-Date), 2007 as Humanities H.O.D, and then in 2010 as Deputy Principal.</li>
                    </lu>
                    <div class="button">
                        <a href="~/Home/Courses" class="btn">Our Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End About US -->
<!-- Fun Facts -->
<div class="fun-facts overlay" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-institution"></i>
                    <div class="number"><span class="counter">80</span>k+</div>
                    <p>Active Cources</p>
                </div>
                <!--/ End Single Fact -->
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-graduation-cap"></i>
                    <div class="number"><span class="counter">33</span>k+</div>
                    <p>Active Students</p>
                </div>
                <!--/ End Single Fact -->
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-video-camera"></i>
                    <div class="number"><span class="counter">278</span>+</div>
                    <p>Video Cources</p>
                </div>
                <!--/ End Single Fact -->
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-trophy"></i>
                    <div class="number"><span class="counter">308</span>+</div>
                    <p>Awards Won</p>
                </div>
                <!--/ End Single Fact -->
            </div>
        </div>
    </div>
</div>
<!--/ End Fun Facts -->
<!-- Team -->
<section class="team section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Our <span>SMT</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <!-- Single Team -->
                <div class="single-team">
                    <img src="~/images/team/Principal.jpg" alt="#">
                    <div class="team-hover">
                        <h4>Mrs N. Mbense<span>Principal</span></h4>
                        <p><a href="mailto:mbensen@intandoyesizwe.org">mbensen@intandoyesizwe.org</a></p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <!-- Single Team -->
                <div class="single-team">
                    <img src="~/images/team/Deputy.jpg" alt="#">
                    <div class="team-hover">
                        <h4>Mr A. Mabele<span>Deputy Principal</span></h4>
                        <p><a href="mailto:mabelea@intandoyesizwe.org">mabelea@intandoyesizwe.org</a></p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Team -->
                <div class="single-team">
                    <img src="~/images/team/Science_HOD.jpg" alt="#">
                    <div class="team-hover">
                        <h4>Mr S.N. Masondo<span>Science H.O.D</span></h4>
                        <p><a href="mailto:masondos@intandoyesizwe.org">masondos@intandoyesizwe.org</a></p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Team -->
                <div class="single-team">
                    <img src="~/images/team/Commerce_HOD.jpg" alt="#">
                    <div class="team-hover">
                        <h4 class="name">Miss N.T Maduna<span class="work">Commerce H.O.D</span></h4>
                        <p><a href="mailto:madunan@intandoyesizwe.org">madunan@intandoyesizwe.org</a></p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Team -->
                <div class="single-team">
                    <img src="~/images/team/Humanities_HOD.jpg" alt="#">
                    <div class="team-hover">
                        <h4 class="name">Miss M.E Sithebe<span class="work">Humanities H.O.D</span></h4>
                        <p><a href="mailto:sithebem@intandoyesizwe.org">sithebem@intandoyesizwe.org</a></p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Team -->
                <div class="single-team">
                    <img src="~/images/team/Languages_HOD.jpg" alt="#">
                    <div class="team-hover">
                        <h4 class="name">Mr B.M Molefe<span class="work">Languages H.O.D</span></h4>
                        <p><a href="mailto:molefeb@intandoyesizwe.org">molefeb@intandoyesizwe.org</a></p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
        </div>
    </div>
</section>
<!--/ End Team -->