<!-- Start Breadcrumbs -->
<section class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Our Courses</h2>
                <ul class="bread-list">
                    <li><a href="~/Home/Index">Home<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a href="#">Courses</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
<!-- Courses -->
<section class="courses archives section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2><span>Courses</span> We Offer</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Course -->
                <div class="single-course">
                    <div class="single-content">
                        <h3><span>Science</span></h3>
                        <lu>
                            <li>Physical Science</li>
                            <li>Life Science</li>
                            <li>Geography</li>
                            <li>Mathematics</li>
                            <li>IsiZulu(HL)</li>
                            <li>English(FAL)</li>
                            <li>Life Orientation</li>
                        </lu>
                    </div>
                </div>
                <!--/ End Single Course -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Course -->
                <div class="single-course">
                        
                    <div class="single-content">
                        <h3><span>Commerce</span></h3>
                        <lu>
                            <li>Accounting</li>
                            <li>Economics</li>
                            <li>Business Studies</li>
                            <li>Mathematics/Maths Literacy(Optional)</li>
                            <li>IsiZulu(HL)</li>
                            <li>English(FAL)</li>
                            <li>Life Orientation</li>
                        </lu>
                    </div>
                </div>
                <!--/ End Single Course -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Course -->
                <div class="single-course">
                    <div class="single-content">
                        <h3><span>General</span></h3>
                        <lu>
                            <li>Geography</li>
                            <li>Life Science</li>
                            <li>Agricultural Science</li>
                            <li>Maths Literacy</li>
                            <li>IsiZulu(HL)</li>
                            <li>English(FAL)</li>
                            <li>Life Orientation</li>
                        </lu>
                    </div>
                </div>
                <!--/ End Single Course -->
            </div>
        </div>
    </div>
</section>
<!--/ End Courses -->