<!-- Start Breadcrumbs -->
<section class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Gallery</h2>
                <ul class="bread-list">
                    <li><a href="~/Home/Index">Home<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a href="">Gallery</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
<section class="gallery section" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>Our</span> Gallery</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-filter">
                    <button type="button" data-filter="all">All</button>
                    <button type="button" data-filter=".matric">Matric 2018</button>
                    <button type="button" data-filter=".activities">Activities</button>
                    <button type="button" data-filter=".events">Events</button>
                </div>
            </div>
        </div>
        <div class="row portfolio-items-wrapper">
            <div class="mix col-md-4 matric">
                <div class="portfolio-block">
                    <img class="img-responsive" src="~/images/grade12/2018/A_1.jpg" alt="">
                    <div class="caption">
                        <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="~/images/grade12/2018/A_1.jpg" data-lightbox="image-1">
                            <i class="tf-ion-plus"></i>
                        </a>
                        <h4><a href="#">12 A</a></h4>
                    </div>
                </div>
            </div>
            <div class="mix col-md-4 matric">
                <div class="portfolio-block">
                    <img class="img-responsive" src="~/images/grade12/2018/A_2.jpg" alt="">
                    <div class="caption">
                        <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="~/images/grade12/2018/A_2.jpg" data-lightbox="image-1">
                            <i class="tf-ion-plus"></i>
                        </a>
                        <h4><a href="#">12 A</a></h4>
                    </div>
                </div>
            </div>
            <div class="mix col-md-4 matric">
                <div class="portfolio-block">
                    <img class="img-responsive" src="~/images/grade12/2018/B.jpg" alt="">
                    <div class="caption">
                        <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="~/images/grade12/2018/B.jpg" data-lightbox="image-1">
                            <i class="tf-ion-plus"></i>
                        </a>
                        <h4><a href="#">12 B</a></h4>
                    </div>
                </div>
            </div>
            <div class="mix col-md-4 matric">
                <div class="portfolio-block">
                    <img class="img-responsive" src="~/images/grade12/2018/C_1.jpg" alt="">
                    <div class="caption">
                        <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="~/images/grade12/2018/C_1.jpg" data-lightbox="image-1">
                            <i class="tf-ion-plus"></i>
                        </a>
                        <h4><a href="#">12 C</a></h4>
                    </div>
                </div>
            </div>
            <div class="mix col-md-4 matric">
                <div class="portfolio-block">
                    <img class="img-responsive" src="~/images/grade12/2018/C_2.jpg" alt="">
                    <div class="caption">
                        <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="~/images/grade12/2018/C_2.jpg" data-lightbox="image-1">
                            <i class="tf-ion-plus"></i>
                        </a>
                        <h4><a href="#">12 C</a></h4>
                    </div>
                </div>
            </div>
            <div class="mix col-md-4 matric">
                <div class="portfolio-block">
                    <img class="img-responsive" src="~/images/grade12/2018/D.jpg" alt="">
                    <div class="caption">
                        <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="~/images/grade12/2018/D.jpg" data-lightbox="image-1">
                            <i class="tf-ion-plus"></i>
                        </a>
                        <h4><a href="#">12 D</a></h4>
                    </div>
                </div>
            </div>
            <div class="mix col-md-4 activities">
                <div class="portfolio-block">
                    <img class="img-responsive" src="~/images/events/Act_1.jpg" alt="">
                    <div class="caption">
                        <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="~/images/events/Act_1.jpg" data-lightbox="image-1">
                            <i class="tf-ion-android-search"></i>
                        </a>
                        <h4><a href="#">Cultures (2018)</a></h4>
                        <p>Wedding Songs Group last preparation before the event...</p>
                    </div>
                </div>
            </div>
            <div class="mix col-md-4 activities">
                <div class="portfolio-block">
                    <img class="img-responsive" src="~/images/events/Act_2.jpg" alt="">
                    <div class="caption">
                        <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="~/images/events/Act_2.jpg" data-lightbox="image-1">
                            <i class="tf-ion-android-search"></i>
                        </a>
                        <h4><a href="#">Cultures (2018)</a></h4>
                        <p>Wedding Songs Group (2018) last preparation before the event...</p>
                    </div>
                </div>
            </div>
            <div class="mix col-md-4 events">
                <div class="portfolio-block">
                    <img class="img-responsive" src="~/images/portfolio/portfolio-1.jpg" alt="">
                    <div class="caption">
                        <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="~/" data-lightbox="image-1">
                            <i class="tf-ion-android-search"></i>
                        </a>
                        <h4><a href="#">Event</a></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>	<!-- end container -->
</section>   <!-- End section -->