@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<div class="page-content">
    <div class="content container">
        <div class="row">
            <div class="col-lg-50">
                <div style="float:left">
                    <img src="~/images/logo.jpg" alt="Website Logo" width="30" height="40" />
                </div>
                <div>
                    <h1><b><u>INTANDOYESIZWE SECONDARY SCHOOL</u></b></h1>
                </div>
                <div style="float: right;">
                    @Html.ActionLink("Back", "Index", "Home")
                </div>
                <div class="widget">
                    <div class="widget-header">
                        <i class="" icon-laptop"></i>
                        <h3>Admission Application:</h3>
                    </div>
                    <div class="widget-content">
                        <div id="wizard">
                            <div id="rootwizard">
                                <div class="navbar">
                                    <nav class="navbar navbar-default">
                                        <div class="container-fluid">
                                            <div class="navbar-header">
                                                <ul class="nav nav-tabs">
                                                    <li role="presentation" class="active"><a href="#">Learner Info</a></li>
                                                    <li role="presentation"><a href="#">Learner Contact</a></li>
                                                    <li role="presentation"><a href="#">Previous School</a></li>
                                                    <li role="presentation"><a href="#">Parent Info</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                    
                                    <div class="tab-content">
                                        @Html.Partial("_Personal")
                                    </div>
                                    <br />
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar bg-color-blueDark" style="width: 25%; height: 20px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}