<!DOCTYPE html>
<html class="no-js" lang="zxx">
<body>
    <!-- Start Mail Success-->
    <section class="mail-success section page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                    <div class="mail">
                        <h2>Application <span class="primary">Successfully</span> Sent<span class="primary">!</span> <span class="normal">Please check your Application Status in 24(working) hours.</span></h2>
                        <div class="button">
                            <a class="btn panel-primary" href="~/Home/Index">Go To Homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Mail Success -->
</body>
</html>